:host{
    overflow: auto;
    width: 100vw;
}

#filters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#filters > div, #items-per-page-container > *{
    padding: 0.5rem
}

table{
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
    color: var(--main-color1);
    width: 100%;
    text-align: left;
}

table thead{
    font-weight: 500;
}

table th {
    text-transform: capitalize;
    background-color: var(--main-color2);
    padding: 5px 10px;
    cursor: pointer;
}

table tbody tr:nth-child(odd){
    background-color: var(--background-color1);
}

table tbody tr:nth-child(even){
    background-color: var(--background-color2);
}

table tbody td{
    padding: 5px 10px;
}

#paginator-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#paginator-buttons .page-button{
    color:white;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    margin: 0 5px;
    border:none;
    border-radius: 150px;
    background: #171c1d;
    box-shadow:  2px 2px 4px #111415,
             -2px -2px 4px #1d2425;
}

#paginator-buttons .page-button.active{
    color:var(--main-color3);
}

input[type="number"], select{
    padding: 5px 10px;
    font-size: 1.2em;
    border: 1px solid var(--main-color2);
    box-shadow: 1px 0 0 var(--main-color2);
    background: var(--main-color1);
}