*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Helvetica Neue', sans-serif
}
body{
    color: white;
    background-color: #171c1d;
}
:root{
    --main-color1: white;
    --main-color2: #4e4edb;
    --main-color3: orangered;
    --background-color1: #171c1d;
    --background-color2: #202222;
}