nav-bar{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
nav{
    width: 100%;
    display: flex;
}
nav a, .dropdown > div > a {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-decoration: none;
    position: relative;
    background-color: aquamarine;
    height: 55px;
    flex-wrap:wrap;
}
.dropdown{
    overflow: hidden;
}
a:focus + .dropdown,
a:hover + .dropdown,
.dropdown:focus-within,
.dropdown:hover{
    height: auto;
}
nav a:hover, .dropdown:hover, .dropdown > div > a :hover{
    background-color: azure;
}
@media (max-width: 650px){
    nav{
        flex-wrap: wrap;
    }
    .dropdown{
        height: 0;
    }
}
@media (min-width: 650px){
    .dropdown{
    }
}
